<div class="main">
    <div class="wrapper">
        <div class="left">
            <div class="font-heading heading">
                The world's cryptocurrency data is here.
            </div>
            <div class="sub-heading">
                Created by the most trusted cryptocurrency market data provider in the industry.
            </div>
            <a routerLink="crypto">Explore</a>
        </div>
        <div class="right">
            <img src="../../../assets/445821-PEVIPM-250.png" alt="DG">
        </div>
    </div>
</div>