<div *ngIf="isLoading" class="white-overlay">
  <app-spinner></app-spinner>
</div>
<div @fade (click)="toggleOverlay()" *ngIf="isOverlay" class="overlay"></div>
<div @fade (click)="toggleOverlay()" *ngIf="isOverlay" class="overlay with-slider"></div>
<div [class.sidebar-active]="isSidebarOpen" class="sidebar">
  <div class="wrapper">
    <div (click)="closeSidebar()" class="close">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <ul>
        <li><a (click)="closeSidebar()" routerLink="" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
          true}" >Home</a></li>
        <li><a (click)="closeSidebar()" routerLink="crypto" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
          true}" >Crypto Data</a></li>
        <li><a (click)="closeSidebar()" routerLink="favourites" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
          true}" >Favourites</a></li>
      </ul>
    </div>
  </div>
</div>
<app-slider
  *ngIf="isSlider"
  [priceRange]="priceRange"
  [marketCapRange]="marketCapRange"
  @slider
></app-slider>
<div class="main">
  <app-navbar
    (menuButton)="openSidebar()"
  ></app-navbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>